<h3 class="mt-4 mx-5">Pesquise os livros cadastrados</h3>
<div class="container" style="min-height: 100px;">
<div class="row">
<div class="col">
  <form [formGroup]="formLivro" (ngSubmit)="onSubmit()" class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
      <label for="titulo" class="sr-only">Título</label>
      <input type="text" formControlName="titulo" class="form-control" id="titulo" placeholder="Informe o título">
    </div>   
    <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
  </form>
</div>
</div>
</div>  


<div class="mx-5 mb-5">
  <cadastro-livros 
       [(livros)]="listaLivros" 
       [(existeLivros)]="existeLivros">
  </cadastro-livros>  
</div>
