<div class="row m-5">
    <div class="col-sm-6">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header p-3 bg-primary text-white">
            <h2>Biblioteca Catalogada!</h2>
        </div>          
        <div class="card-body">
          <p class="lead"><b>Catálogo de Bibliotecas</b></p>
          <p class="card-text">Mantenha seus livros catalogados e organizados.</p>
          <p class="card-text">Os livros podem ser organizados de acordo com o autor, gênero ou editora.</p>
          <p class="card-text">Busca rápida de acordo com os critérios fornecidos.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header p-3 bg-primary text-white">
            <h2>Venda ou Troque seus Livros!</h2>
        </div>          
        <div class="card-body">
            <p class="lead"><b>Venda ou troca de livros</b></p>
          <p class="card-text">Possui muitos livros e não quer mais?</p>
          <p class="card-text">Venda seus livros para outros usuários da plataforma.</p>
          <p class="card-text">Você também pode trocá-los por outros livros com qualquer outro usuário.</p>
        </div>
      </div>
    </div>
  </div>
